@inherits LayoutComponentBase

<div class="page">


    <div class="main" >

        <div class="content" id="main" style="padding: 0 !important">
            @Body
        </div>
    </div>

    <div class="sidebar" id="sideb">
        <NavMenu />
    </div>
</div>

