@page "/company/{id}"
@inject NavigationManager navigationManager
@inject CustomStateProvider authStateProvider
@inject ICompanyService companyService

<h1>@company.BusinessName</h1>

@code{
    [Parameter]
    public string ID { get; set; }
    public WEBServer.Shared.Company company {get;set;}
    protected override async Task OnInitializedAsync()
    {
        company = await companyService.GetCompanyAsync(int.Parse(ID));
        await base.OnInitializedAsync();
    }

}