@page "/fetchdata"
@using WEBServer.Shared
@inject ICompanyService companyService

<h1>Rilevazioni</h1>

<p>In questa pagina è possibile consultare tutte le rilevazioni.</p>

@if (companies == null)
{
    <p><em>Caricamento...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Persone rilevate</th>
                <th>Orario</th>
                <th>Ultimo aggiornamento</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var company in companies)
            {
                <tr>
                    <td>@company.BusinessName</td>
                    <td>@company.PeopleCount</td>
                    <td>@(company.Opening + " - " + company.Closing)</td>
                    <td>@DateTime.Now</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<WEBServer.Shared.Company> companies;

    protected override async Task OnInitializedAsync()
    {
        companies = await companyService.GetCompaniesAsync(new CompanyFilter());
    }

}
