@page "/"
@using GoogleMapsComponents
@using GoogleMapsComponents.Maps

<div class="w-100 p-3">
    <GoogleMap @ref="@map1" Id="map1" Options="@mapOptions"></GoogleMap>

</div>

@functions {
    private GoogleMap map1;
    private MapOptions mapOptions;

    protected override void OnInitialized()
    {
        mapOptions = new MapOptions()
        {
            Zoom = 10,
            Center = new LatLngLiteral()
            {
                Lat = 43.062410,
                Lng = 12.201383
            },
            MapTypeId = MapTypeId.Roadmap
        };
    }
}